.padding {
    width: 200px;
    height: 200px;
    color: white;
    background-color:cornflowerblue;
    /* padding-top, padding-right, padding-botton */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    /* padding satu nilai = semua */
    /* padding dua  nilai = atas-bawah kiri-kanan */
    /* padding tiga nilai = atas kiri-kanan bawah */
    /* padding empat nilai = atas kanan bawah kiri (searah jarum jam) */
    padding: 20px 30px 10px ;
    /* style border = solid, dashed, dotted, inset, outset, double */
    border: 5px solid darkblue; /* rumus border = tebal gaya warna */
    border-radius: 10px 50px ;
    /*border-radius: 50%;*/
}

.padding2 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    color: white;
    background-color:cornflowerblue;
    padding: 50px;
    border: 20px solid darkblue;
    /* margin */
    margin-left: 90px; 
    margin-top: 50px;
    margin-bottom: 50px;
    
   
}